In [11]:
install.packages('HistData')

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [6]:
library('HistData')
library('tidyverse')

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [7]:
head(GaltonFamilies)

  family father mother midparentHeight children childNum gender childHeight
1 001    78.5   67.0   75.43           4        1        male   73.2
2 001    78.5   67.0   75.43           4        2        female 69.2
3 001    78.5   67.0   75.43           4        3        female 69.0
4 001    78.5   67.0   75.43           4        4        female 69.0
5 002    75.5   66.5   73.66           4        1        male   73.5
6 002    75.5   66.5   73.66           4        2        male   72.5

In [14]:
galton_heights <- GaltonFamilies %>%
  filter(childNum == 1 & gender == 'male') %>%
  select(father, childHeight) %>%
  rename(son=childHeight)

In [15]:
head(galton_heights)

  father son
1 78.5   73.2
2 75.5   73.5
3 75.0   71.0
4 75.0   70.5
5 75.0   72.0
6 74.0   76.5

In [16]:
library(caret)

Loading required package: lattice

Attaching package: ‘caret’

The following object is masked from ‘package:purrr’:

    lift

In [19]:
y <- galton_heights$son
test_index <- createDataPartition(y,times=1,p=0.5,list=FALSE)

train_set <- galton_heights %>% slice(-test_index)
test_set <- galton_heights %>% slice(test_index)

avg <- mean(train_set$son)
avg
sqr_loss <- mean((avg - test_set$son)^2)
sqr_loss

[1] 70.46023

[1] 6.392946

In [28]:
fit <- lm(galton_heights$son ~ galton_heights$father, data = train_set)
fit$coef

y_hat <- fit$coef[1] + fit$coef[2]*test_set$father
sqr_loss <- mean((y_hat - test_set$son)^2)
sqr_loss

          (Intercept) galton_heights$father
           35.7124909             0.5027904

[1] 4.770962

In [30]:
y_hat <- predict(fit, test_set)
sqr_loss <- mean((y_hat - test_set$son)^2)
sqr_loss

Warning message:
“'newdata' had 91 rows but variables found have 179 rows”Warning message in y_hat - test_set$son:
“longer object length is not a multiple of shorter object length”

[1] 6.09587

Categorical Outcome